.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b591ebc8;
    color: #ffffff;
    padding: 0.5rem;
  }
  
  .navbar-left .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: stretch
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }

  .navbar-center .nav-links li:hover {
    background-color: #ffffff;
  }
  
  .navbar-center .nav-links a {
    color: #000000;
    text-decoration: none;
    height: 100%;
    padding: .25rem;
    display: flex
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .Squirrel-picture {
    height: 8vmin;
    pointer-events: none;
  }